@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mukta+Malar&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5 {font-family: 'Montserrat', sans-serif;}
  h1 {font-size: 96px;}
  h2 {font-size: 64px;}
  h3 {font-size: 48px;}
  h4 {font-size: 32px;}
  h5 {font-size: 24px;}
  p,button,a,input {font-family: 'Mukta Malar', sans-serif;}
  button {
    font-weight: bold;
    width: 137px;
    height: 55px;
    background: #003827;
    color: white;
    border: none;
    border-radius: 4px;
  }
  button:hover {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  }
  button:active {
    box-shadow: inset -1px 3px 6px rgba(0, 0, 0, 0.4);
  }
  .whiteborderbutton:hover{
      border: 2px solid #FFFFFF;
  }